/* STRETCH GOAL */
/* 4-col and 3-col layouts for different screen sizes. */

/* write your style declarations here */



@media (min-width: 768px) and (max-width: 1024px) {
  .posts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}